.product-row {
    display: flex;
  }
  
  .product {
    text-align: center;
    flex: 1;
    margin: 7px;
  }
  
  .product img {
    width: 145px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product h3 {
    margin-top: 8px;
  }
  
  .product p {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .product button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .product button:hover {
    background-color: #45a049;
  }

  .grey-box {
    background-color: #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-details img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  